<footer class="topnav">
    <div class="footer-copyright">
        <div class="container" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">
            All articles belong to <a href='https://www.theverge.com' target="_blank">The Verge</a>
            <a class="right" href="/articles-json" style="background-color: black; color: #039be5; font-family: 'Montserrat', sans-serif;" >Article JSON</a>
        </div>
    </div>
</footer>