body { 
    background-color: black
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

h1, h2 {
    color: red;
}

button {
    display: block;
    background-color: black;
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Crimson Pro', serif;
    font-size: 16px;
    padding: 5px;
    position: relative;
    border: 1px solid red;
  }

#notes {
  float: right;
  width: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}