<nav>
    <div class="nav-wrapper topnav"
        style="background-color: black">
        <a href="/" class="brand-logo center" 
        style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">The Verge News Scraper!</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;">Scrape</a></li>
            <li><a href="/clearall" style="background-color: black; color:crimson; font-family: 'Montserrat', sans-serif;" >Clear Articles</a></li>
        </ul>
    </div>
</nav>